{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading border-bottom mb-4">{{ dorm.sub_location }}</h2>
          <h4>Washers</h4>
          {% for i in range(washers|length) %}
            <a class="text-secondary mb-4" href="">Washer-{{ i+1 }}</a></br>
          {% endfor %}
        </br>
          <h4>Dryers</h4>
          {% for i in range(dryers|length) %}
            <a class="text-secondary mb-4" href="">Dryer-{{ i+1 }}</a></br>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock content %}